.o_connector_pages {
    button.o_connector_button_page {
        background-color: #ffffff;
        &:first-of-type {
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
        }
        &:last-of-type {
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
        }
    }
}

div.dropdown-menu.bootstrap-datetimepicker-widget {
    position: static !important;
    width: 100% !important;
}