.o_connector_partner_table {
    button.o_connector_button_page {
        background-color: #fff;
    }
}

div.dropdown-menu.bootstrap-datetimepicker-widget {
    position: static !important;
    width: 100% !important;
}