$pos-color-green-light: #6EC89B;
$pos-color-green-dark: #43996E;
$pos-color-damson: #875A7B;
$pos-color-light: #f0eeee;
$pos-color-tabs: #a886a0;

.bank-dialog {

    .bank-popup {
        border-radius: 10px !important;
        max-width: 750px !important;
        font-size: 1em !important;
        overflow: hidden !important;
        width: 90% !important;
        border: 4px solid #43996E;

        main {
            height: 400px;
            background-color: #ffffff;
            box-shadow: inset 0px 0px 5px 5px rgb(240, 240, 240);
            transition: 0.2s ease all;
            overflow-y: auto;
        }

        footer {
            .fa {
                margin: 0 5px;
            }
        }
    }

    .button.altlight {
        background: #43996E !important;
        border-color: #43996E !important;
    }

    .button.altlight.danger {
        background: #cb4848 !important;
        border-color: #cb4848 !important;
    }

    .payment-bank {
        display: flex;
        justify-content: center;
        color: #707070;
        border-radius: 10px;
        height: 100%;

        .send-table {
            width: 50%;
            margin: 10px 5px 10px 10px;
            display: flex;
            flex-direction: column;
            padding: 20px 10px;
            border-radius: 10px;
            overflow: hidden;
        }

        .bank-table {
            width: 50%;
            margin: 10px;
            display: flex;
            flex-direction: column;
            padding: 20px 10px;
            border-radius: 10px;
            margin-bottom: 15px;
            border: 2px solid #cccccc;
            box-shadow: 0px 5px 5px 1px rgb(240, 240, 240);
            overflow: hidden;

            .bank-item {
                display: flex;
                flex-direction: row;
                box-shadow: 0px 2px 2px 1px rgb(240, 240, 240);
                border: 1px solid #ccc;
                border-radius: 5px;
                overflow: hidden;
                position: relative;
                background: #fff;
                padding: 0;
                width: 100%;
                font-size: 1em;
                margin-bottom: 10px;
                color: #444444;
                transition: 0.2s ease all; 
                -moz-transition: 0.2s ease all; 
                -webkit-transition: 0.2s ease all;

                .bank-selected {
                    border-right: 30px solid #43996E !important;

                    i {
                        color: #ffffff !important;
                    }
                }

                .bank-selection {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 0;
                    border-bottom: 30px solid transparent;
                    border-right: 30px solid #eeeeee;
                    transition: 0.2s ease all; 
                    -moz-transition: 0.2s ease all; 
                    -webkit-transition: 0.2s ease all;
            
                    i {
                        position: absolute;
                        top: 3px;
                        right: -27px;
                        color: #aaaaaa;
                        transition: 0.2s ease all; 
                        -moz-transition: 0.2s ease all; 
                        -webkit-transition: 0.2s ease all;
                    }
                }

                .bank-logo {
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    padding: 4px;

                    img {
                        max-width: 75px;
                        max-height: 75px;
                        border-radius: 5px;
                    }
                }

                .bank-info {
                    width: 100%;
                    padding: 5px;
                    border-left: 1px solid #dddddd;

                    .bank-title {
                        font-size: 1.5em;
                        margin-bottom: 5px;
                    }

                    .bank-detail {
                        color: #888888;

                        td {
                            padding: 0 5px;
                        }
                    }
                }
            }

            .bank-item:hover {
                background-color: #fafafa;
                box-shadow: 0px 5px 5px 1px rgb(240, 240, 240);

                .bank-selection {
                    border-right: 30px solid #6acd9c;

                    i {
                        color: #ffffff;
                    }
                }

                .bank-selection.bank-selected {
                    border-right: 30px solid #cd5c5c !important;
                }
            }
        }

        .field-info {
            margin: 5px 10px 25px 10px;
        }

        .field-container {
            position: relative;

            > input, textarea {
                -webkit-box-sizing: border-box;
                min-height: 50px;
                box-sizing: border-box;
                font-size: 18px;
                padding: 10px 5px 10px 10px;
                display: block;
                width: 100%;
                color: #999;
                border: 2px solid #ddd;
                border-radius: 5px;
                resize: none;
                box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
            }

            > input:focus {
                outline: none;
                border-color: #43996E;
            }

            > input::placeholder {
                color: #ccc;
            }

            > label {
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                left: 10px;
                top: -8px;
                height:20px;
                overflow: hidden;
                font-size: 14px;
                font-weight: bold;
                color: #43996E;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
                span {
                    background: #fff;
                    padding: 0 5px;
                }
            }

            > .bar-container {
                position: relative;
                display: block;
                width: 100%;
                width: calc(100% - 2.5px);
                margin: 0 auto;
            }

            > .bar-container:before, > .bar-container:after {
                content: '';
                height: 2px; 
                width: 0;
                bottom: 1px; 
                position: absolute;
                background: #43996E;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }

            > .bar-container:before {
            left: 50%;
            }

            > .bar-container:after {
                right: 50%; 
            }

            > input:focus ~ .bar-container:before, > input:focus ~ .bar-container:after {
                width: 50%;
            }

            > .highlight-container {
                position: absolute;
                height: 50%; 
                width: 100px; 
                top: 0; 
                left: 0;
                pointer-events: none;
                opacity: 0.5;
            }

            > input:focus ~ .highlight-container {
                -webkit-animation: inputHighlighter 0.3s ease;
                -moz-animation: inputHighlighter 0.3s ease;
                animation: inputHighlighter 0.3s ease;
            }

            @-webkit-keyframes inputHighlighter {
                from { background: #43996E; }
                to { width: 0; background: transparent; }
            }

            @-moz-keyframes inputHighlighter {
                from { background: #43996E; }
                to { width: 0; background: transparent; }
            }

            @keyframes inputHighlighter {
                from { background: #43996E; }
                to { width: 0; background: transparent; }
            }

            .symbol {
                position: absolute;
                top: 3px;
                padding: 10px 10px 10px 5px;
                font-size: 18px;
                color: #ccc;
            }

            .symbol-before {
                left: 0;
            }

            .symbol-after {
                right: 0;
            }

            .button {
                position: absolute;
                right: 0;
                top: 1px;
                margin: 0;
                height: calc(100% - 4px);
                width: 50px;
                border-radius: 2px;
                border: none;
                border-left: 2px solid #ddd;
                display: flex;
                justify-content: center;
                align-items: center;

                .fa {
                    font-size: 1.5em;
                }
            }

            .installment-container {
                height: 100%;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                gap: 5px;
            }
        }

        .field-container.is-invalid {
            > input {
                border-color: #cd5c5c;
            }

            > input:focus {
                outline: none;
                border-color: #cd5c5c;
            }

            > label {
                border-color: #cd5c5c;
            }

            > .bar-container:before, > .bar-container:after {
                background: #cd5c5c;
            }
        }
    }
}

.address-dialog {

    .address-popup {
        border-radius: 10px !important;
        max-width: 750px !important;
        font-size: 1em !important;
        overflow: hidden !important;
        width: 90% !important;
        border: 4px solid $pos-color-tabs;

        main {
            height: 300px;
            background-color: #ffffff;
            box-shadow: inset 0px 0px 5px 5px rgb(240, 240, 240);
            transition: 0.2s ease all;
            overflow-y: auto;
        }

        footer {
            .fa {
                margin: 0 5px;
            }
        }
    }

    .button.altlight {
        background: $pos-color-tabs !important;
        border-color: $pos-color-tabs !important;
    }

    .button.altlight.danger {
        background: #cb4848 !important;
        border-color: #cb4848 !important;
    }

    .address-type {
        display: flex;
        justify-content: space-evenly;
        align-self: end;
        width: 80%;
        margin: 10px;

        .address-radio {
            display: flex;
            width: 75px;
            cursor: pointer;

            label {
                cursor: pointer;
            }

            input[type=radio] {
                cursor: pointer;
            }
        }

        .address-radio > div {
            position: relative;
            flex: 1;
        }

        .address-radio input {
            margin: auto;
            display: block;
            appearance: none;
            border-radius: 50%;
            border: 6px solid #cccccc;
            width: 0 !important;
            box-shadow: none !important;
            min-height: 0 !important;
            padding: 0 !important;
        }

        .address-radio input:checked {
            border: 6px solid #ffffff;
        }

        .address-radio input ~ span:after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #ffffff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
       }

        .address-radio input:checked ~ span:after {
            background: $pos-color-tabs !important;
       }
    }

    .address-details {
        display: flex;
        justify-content: center;
        color: #707070;
        border-radius: 10px;
        width: 100%;
        height: 100%;

        .address-detail {
            display: flex;
            align-items: center;

            .label {
                margin: 5px;
                width: 20% !important;
            }

            input {
                min-height: 30px !important;
                margin: 5px;
                height: 30px !important;
                width: 80% !important;
                font-size: 15px;
            }

            input:focus {
                box-shadow: 0px 0px 0px 3px $pos-color-tabs;
            }

            input[name=street] {
                height: 70px !important;
            }

            input[name=city], input[name=zip] {
                width: 40% !important;
            }

            select {
                width: 40% !important;
                height: 30px;
                margin: 5px;
                color: #444444;
                border-color: #cccccc;
            }
        }

        .table-left {
            width: 50%;
            margin: 10px 5px 10px 10px;
            display: flex;
            flex-direction: column;
            padding: 20px 10px;
            margin-bottom: 15px;
            border-radius: 10px;
            border: 2px solid #eeeeee;
            box-shadow: 0px 5px 5px 1px rgb(240, 240, 240);
            overflow: hidden;
        }

        .table-right {
            width: 50%;
            margin: 10px;
            display: flex;
            flex-direction: column;
            padding: 20px 10px;
            margin-bottom: 15px;
            border-radius: 10px;
            border: 2px solid #eeeeee;
            box-shadow: 0px 5px 5px 1px rgb(240, 240, 240);
            overflow: hidden;
        }
    }
}

.pos {

    .d-none {
        display: none !important;
    }

    .d-block {
        display: block !important;
    }

    .text-right {
        text-align: right !important;
    }

    .text-left {
        text-align: left !important;
    }

    .visible {
        visibility: visible !important;
        opacity: 1 !important;
    }

    .visible-half {
        visibility: visible !important;
        opacity: 0.75 !important;
    }

    .text-center {
        text-align: center !important;
    }

    .product-name {
        white-space: nowrap;
    }

    .overflow-y {
        overflow-y: auto !important;
        padding-right: 5px !important;
    }

    .button.disabled {
        pointer-events: none;
        opacity: 0.8;
    }

    .notification {
        z-index: 9999;
        background: rgba(75, 75, 75, 0.75);
        transform: translate(-50%, -50%);
        border-radius: 10px;

        &.success {
            background: rgba(67, 153, 110, 0.75) !important;
        }

        &.danger {
            background: rgba(178, 34, 34, 0.75) !important;
        }
    }

    .left-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .paymentmethods-bank {

            .payment-buttons {
                margin: 0;

                .button {
                    border-radius: 0;
                }

                .button.altlight {
                    //background: #916984 !important;
                    //border-color: #916984 !important;
                    background: #43996E !important;
                    border-color: #43996E !important;
                }

                .bank-button {
                    margin-bottom: 1px;
                }
            }
        }
    }

    .client-details {
        .client-details-tabs {
            margin: 25px -15px 0 -15px;

            .client-tabs {
                display: flex;
                border-bottom: 2px solid $pos-color-tabs;
                padding: 0 25px;

                .client-tabs-tab {
                    color: #ffffff;
                    font-weight: bold;
                    position: relative;

                    &::before, &::after {
                        content: "";
                        background-color: $pos-color-light;
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        bottom: 0;
                        z-index: 1;
                    }

                    &::before {
                        left: -10px;
                        border-radius: 0 0 50% 0;
                    }
                    &::after {
                        right: -10px;
                        border-radius: 0 0 0 50%;
                    }
                    > div {
                        background-color: $pos-color-tabs;
                        border-radius: 5px 5px 0 0;
                        padding: 10px 20px;

                        &::before, &::after {
                            content: "";
                            background-color: $pos-color-tabs;
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            bottom: 0;
                        }

                        &::before {
                            left: -10px;
                        }
                        &::after {
                            right: -10px;
                        }
                    }
                }
            }
            .client-tabs-content {
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: center;
                padding: 20px;
                background-color: #ffffff;
                border-bottom: 2px solid $pos-color-tabs;
                box-shadow: inset 0px 0px 5px 1px rgba($pos-color-tabs, 0.5);

                .client-tabs-content-item {
                    display: flex;
                    position: relative;
                    border: 2px solid $pos-color-tabs;
                    height: 100px;
                    width: 250px;
                    padding: 0;
                    font-size: 2em;
                    margin: 10px;
                    align-items: center;
                    border-radius: 5px;
                    overflow: hidden;
                    background-color: #ffffff;
                    box-shadow: 0px 5px 5px 1px rgb(240, 240, 240);
    
                    .client-tabs-content-item-selection {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 0;
                        height: 0;
                        border-bottom: 30px solid transparent;
                        border-right: 30px solid #eeeeee;
                        transition: 0.2s ease all; 
                        -moz-transition: 0.2s ease all; 
                        -webkit-transition: 0.2s ease all;
                
                        i {
                            position: absolute;
                            font-size: 0.4em;
                            top: 3px;
                            right: -27px;
                            color: #aaaaaa;
                            transition: 0.2s ease all; 
                            -moz-transition: 0.2s ease all; 
                            -webkit-transition: 0.2s ease all;
                        }
                    }

                    .client-tabs-content-item-selected {
                        border-right: 30px solid $pos-color-tabs !important;
    
                        i {
                            color: #ffffff !important;
                        }
                    }

                    .client-tabs-content-icon {
                        display: flex;
                        align-items: center;
                        padding: 0 10px;
                        height: 100%;
                        color: $pos-color-tabs;
                        background-color: #f5f5f5;
                        border: 2px solid #dddddd;
                        border-left: none;
                        width: 50px;

                        i {
                            width: 100%;
                        }
                    }
                    .client-tabs-content-name {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-self: start;
                        justify-content: normal;
                        color: #666666;
                        padding: 0 5px;
                        font-weight: bold;
                        text-align: center;
                        font-size: 0.5em;
                        background-color: #ffffff;

                        .client-tabs-content-title {
                            color: $pos-color-tabs;
                            font-size: 1.2em;
                            margin: 5px;
                            height: 25px;
                            white-space: nowrap;
                        }

                        .client-tabs-content-detail {
                            margin: 5px;
                            font-weight: normal;
                            font-size: 0.8em;
                        }
                    }

                    &.client-tabs-content-add {
                        background-color: #f5f5f5;
                        border-style: dashed;
                        border-color: rgba($pos-color-tabs, 0.5);

                        .client-tabs-content-icon {
                            border: none;
                        }

                        .client-tabs-content-name {
                            width: 100%;
                            align-self: center;
                            justify-content: center;
                            color: $pos-color-tabs;
                            padding: 0 5px;
                            font-weight: bold;
                            text-align: center;
                            font-size: 0.75em;
                            border-left: none;
                            background-color: initial;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 428px) {
    .bank-dialog .bank-popup {

        main {
            min-height: 500px;
        }

        .payment-bank {
            flex-wrap: wrap;

            .send-table {
                width: 100% !important;
            }

            .bank-table {
                width: 100% !important;
            }
        }
    }

    .client-tabs-content {
        grid-template-columns: auto;
    }

    .address-dialog .address-popup {

        main {
            min-height: 500px;
        }

        .address-details {
            flex-wrap: wrap;

            .table-left {
                width: 100% !important;
            }

            .table-right {
                width: 100% !important;
            }
        }
    }
}
