.payment-page {
    .header {
        .o_company_logo {
            max-height: 75px;
            max-width: 225px;
            margin: 10px;
        }
    }

    .payment-dynamic {
        position: absolute;
        display: flex;
        inset: 0;
        height: 100%;
        width: 100%;
        z-index: 9;
        row-gap: 5px;
        transition: all 0.4s;
        //background-color: rgba(255, 255, 255, 0.05);

        button {
            padding: 1em;
            border-radius: 10px !important;
            color: theme-color('primary');
            font-weight: bold;
            transition: all 0.2s;
            display: flex;
            gap: 10px;
            align-items: center;
            box-shadow: 0 3px 0 0 $primary, 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

            &.btn-navigation {
                border: none;
                color: #aaaaaa;
                box-shadow: none;
            }

            &.btn-done {
                min-width: 300px;
                display: flex;
                justify-content: center;
                background-color: theme-color('primary');
                color: #ffffff;
            }

            &:hover {
                box-shadow: 0 5px 0 0 $primary, 0 1rem 3rem rgba(0, 0, 0, 0.175);
            }
        }

        .col-md-3 > div {
            position: absolute;
            inset: 0;
            border-radius: 5px;

            &.shine {
                transform: translateX(0%);

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    inset: 0;
                    background: #eeeeee;
                    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
                    border-radius: 5px;
                    background-size: 200% 400%;
                    animation: 1.5s shine linear infinite;
                    transition: opacity 0.5s;
                }

                &.transparent {
                    &:before {
                        opacity: 0;
                    }
                }
            }
        }

        .col-md-9 > div {

            .fa-bounce {
                animation: bounce 2s ease infinite;
            }

            .fa-bounce-horizontal {
                animation: bounce-horizontal 2s ease infinite;
            }

            .fa-rotate {
                animation: rotate 2s linear infinite;
            }

            .fa-bounce-rotate {
                animation: bounce-rotate 2s ease infinite;
            }

            .payment-card-item {
                position: absolute;
                background-color: #ffffff;
                //border: 2px solid #dddddd;
                //border-radius: 10px;
                height: 100%;
                inset: 0;
                transition: all 0.5s;
                transform: translateY(100%);

                &.slide:not(.show) {
                    transform: translateY(-100%);
                }

                &.show {
                    transform: translateY(0%);
                }

                &.blur {
                    filter: blur(2px);
                }

                .payment-card-item-icon {
                    width: 150px;
                    width: 150px;
                    border: 4px solid #000000;
                    border-radius: 50%;
                    opacity: 0.6;
                    //margin: 1em 0;
                }

                .payment-card-item-amount {
                    display: flex;
                    flex-direction: row;

                    button {
                        border-radius: 0 5px 5px 0 !important;
                        padding: 0 10px 0 15px;
                        margin-left: -5px;
                        width: 75px;
                        position: relative;
                        color: #ffffff;
                        outline: none;
                        justify-content: center;
                        
                        > ul {
                            visibility: hidden;
                            transition: all 0.2s;
                            position: absolute;
                            overflow: hidden;
                            background-color: #ffffff;
                            color: theme-color('primary');
                            border: 2px solid theme-color('primary');
                            border-radius: 0 0 5px 5px;
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 100%;
                            padding: 0;
                            top: 50px;
                            left: 0;
                            max-height: 0;
                            z-index: 1;
                            opacity: 0;

                            > li {
                                padding: 5px 0;
                                transition: all 0.2s;
                                width: 100%;

                                &:hover {
                                    background-color: #eeeeee;
                                }

                                &:active {
                                    background-color: #dddddd;
                                }
                            }
                        }

                        &:hover {
                            border-radius: 0 5px 3px 0 !important;

                            > ul {
                                visibility: visible;
                                opacity: 1;
                                max-height: 100vh;
                            }
                        }
                    }

                }
            }
 
            .payment-gradient {
                height: 300px;
                border-width: 2px !important;
            }

            /*[field="page.section.all"] {
                position: absolute;
                top: 0;
                z-index: 9;
                height: 4em;
                width: 100%;
                border-bottom: 2px dashed #dddddd;
                border-radius: 0 0 10px 10px;
                background-color: #ffffff;
                display: flex;
                transition: all 0.5s;
                transform: translateY(-100%);
                overflow: hidden;

                &.show {
                    transform: translateY(0%);
                }

                > div {
                    flex: 1;
                    text-align: center;
                    background-color: #eeeeee;
                    color: #cccccc;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    transition: all 0.5s;
                    background-image: linear-gradient(0deg, #e0e0e0 50%, #eeeeee 50%);
                    background-size: 100% 200%;

                    &:first-of-type {
                        border-right: 2px dashed #dddddd;
                    }

                    &:last-of-type {
                        border-left: 2px dashed #dddddd;
                    }

                    &.active {
                        font-size: 1.25em;
                        color: theme-color('primary');
                    }

                    div {
                        position: absolute;
                        transition: all 0.5s;

                        &:nth-child(1) {
                            left: 20px;
                            border: 3px solid;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #ffffff;
                            transform: translateY(150%);
                            bottom: 0;
                        }

                        &:nth-child(3) {
                            transform: translateY(100%);
                            bottom: 0;
                            font-size: 0.9em;
                            color: #777777;
                            font-weight: 500;
                            &.small {
                                font-size: 0.6em;
                            }
                        }
                    }

                    &.done {
                        background-position: 100% 100%;

                        div {
                            &:nth-child(1) {
                                transform: translate(0, calc(-100% + 30px));
                            }
                            &:nth-child(2) {
                                transform: translate(12px, -12px);
                            }
                            &:nth-child(3) {
                                transform: translate(12px, calc(-100% + 10px));
                            }
                        }
                    }
                }
            }*/

            [field="wizard.page.loading"] {
                z-index: 1;
                transform: translateX(0%);

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    inset: 0;
                    background: #eeeeee;
                    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
                    border-radius: 5px;
                    background-size: 200% 400%;
                    animation: 1.5s shine linear infinite;
                    transition: opacity 0.5s;
                }

                &.transparent {
                    opacity: 0.9;
                }
            }

            [field="wizard.page.welcome"] {
                .welcome-title {
                    position: absolute;
                    top: 0;
                    width: 90%;
                    height: 100%;

                    > div {
                        height: 50%;
                        overflow: hidden;
                        position: absolute;
                        width: 100%;

                        div {
                            position: absolute;
                            text-align: center;
                            width: 100%;
                            font-size: 1.5em;
                            padding: 0.5em 0;
                            text-wrap: balance;
                        }

                        span {
                            display: block;
                        }

                        &.welcome-title-top {
                            border-bottom: 3px solid #cccccc;
                            top: 0;

                            > div {
                                width: 100%;
                                animation: welcomeTopText 1s;
                                animation-delay: 0.5s;
                                animation-fill-mode: forwards;
                                animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
                                bottom: 0;
                                transform: translate(0, 100%);
                            }
                        }

                        &.welcome-title-bottom {
                            bottom: 0;

                            > div {
                                animation: welcomeBottomText 1s;
                                animation-delay: 0.5s;
                                animation-fill-mode: forwards;
                                animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
                                top: 0;
                                transform: translate(0, -100%);
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }

            [field="wizard.page.login"], [field="wizard.page.amount"] {
                input[type=text] {
                    transition: all 0.2s;
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

                    &:hover {
                        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
                    }
                }
            }
        }
    }

    .payment-card-item-clone {
        position: absolute;
        pointer-events: none;
        transition: all 0.4s;
        z-index: 1;
        opacity: 0;
        transform: translate(calc(100vw - 200%), 100vh);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

        &.show {
            opacity: 1;
            transform: translate(calc(100vw - 200%), 10vh) scale(1.2);
        }
    }

    [field="wizard.page.overlay"] {
        position: absolute;
        top: 0;
        width: 100%;
        height: 0;
        z-index: 10;
        transition: all 0.4s;
    }

    .payment-dynamic-placeholder {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .payment-dynamic-item-placeholder {
        position: absolute;
        z-index: 1;
    }

    label.switch.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    label.checkmark.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.oe_sign_form {
    max-width: 900px !important;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type=number] {
        -moz-appearance:textfield;
    }

    .bar-caption {
        line-height: 60px;
    }

    button {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 2px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    button#previous {
        top: 10px;
        left: 10px;
        z-index: 9;
    }
    button#submit, button#next {
        top: 10px;
        right: 10px;
        z-index: 9;
    }

    .field-card {
        transition: all 0.5s ease-out;
        width: 100%;
        padding: 0 3rem 3rem 3rem;
        display: flex;
        flex-wrap: wrap;
    }

    .fly-left {
        margin-left: -100%;
        opacity: 0;
        visibility: hidden;
    }

    .fly-right {
        margin-left: 100%;
        opacity: 0;
        visibility: hidden;
    }

    .card-grid {
        display: grid;
        > div {
            grid-column-start: 1;
            grid-row-start: 1;
        }
    }

}

@keyframes welcomeTopText {
    0% { transform: translate3d(0, 100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}

@keyframes welcomeBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40%, 60% {transform: translateY(-5px);}
}
@keyframes bounce-horizontal {
	0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
	40%, 60% {transform: translateX(-5px);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes bounce-rotate {
	0%, 20%, 50%, 80%, 100% {transform: rotate(0deg);}
	40%, 60% {transform: rotate(20deg);}
}

@media (max-width: 768px) {
    .payment-page {
        .payment-card-item-clone {
            &.show {
                transform: translate(5%, 10vh) scale(1.1);
            }
        }
    }
}