.oe_sign_form {
    max-width: 900px !important;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type=number] {
        -moz-appearance:textfield;
    }

    .bar-caption {
        line-height: 60px;
    }

    button#previous {
        top: 10px;
        left: 10px;
        z-index: 9;
    }
    button#submit, button#next {
        top: 10px;
        right: 10px;
        z-index: 9;
    }

    .field-card {
        transition: all 0.5s ease-out;
        width: 100%;
        padding: 0 3rem 3rem 3rem;
        display: flex;
        flex-wrap: wrap;
    }

    .fly-left {
        margin-left: -100%;
        opacity: 0;
        visibility: hidden;
    }

    .fly-right {
        margin-left: 100%;
        opacity: 0;
        visibility: hidden;
    }

    .card-grid {
        display: grid;
        > div {
            grid-column-start: 1;
            grid-row-start: 1;
        }
    }

}
