.o_student_payment_table .o_form_sheet {
    padding: 0 !important;
    > table {
        margin: -2px 0 0 0 !important;
        > tbody > tr > td {
            padding: 0 !important;
            .oe_form_field_html {
                margin-bottom: -6px !important;
            }
        }
    }
}

.o_form_view {
    .o_field_radio.o_field_radio_items {
        &[name=system_student_type] .o_radio_item input {
            &[data-value=school]::before {
                content: "\f015";
                padding-right: 3px;
            }

            &[data-value=university]::before {
                content: "\f19c";
                padding-right: 3px;
            }
        }
    }
}
