<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="settings_form" model="ir.ui.view">
    <field name="name">payment.settings.jewelry.form</field>
    <field name="model">payment.settings</field>
    <field name="inherit_id" ref="payment_jetcheckout_system.settings_form"/>
    <field name="arch" type="xml">
        <xpath expr="//div[@data-key='general_settings']" position="after">
            <div class="app_settings_block" data-string="Jewelry" string="Jewelry" data-key="payment_jewelry" invisible="context.get('active_system') != 'jewelry'">
                <h2>Jewelry</h2>
                <div class="row mt16 o_settings_container">
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane"/>
                        <div class="o_setting_right_pane">
                            <label for="jewelry_payment_validity" string="Payment Validity Period"/>
                            <div class="text-muted">
                                Show a countdown and lock the price during payment. Non positive values mean the countdown will not be shown.
                            </div>
                            <div class="content-group">
                                <div class="row mt16">
                                    <label for="jewelry_payment_validity" string="Time" class="col-lg-4 o_light_label"/>
                                    <field name="jewelry_payment_validity" style="width:50px" class="text-right"/>
                                    <span class="ml4">Second(s)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </xpath>
    </field>
    </record>
</odoo>
