<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="settings_form" model="ir.ui.view">
    <field name="name">payment.settings.jewelry.form</field>
    <field name="model">payment.settings</field>
    <field name="inherit_id" ref="payment_jetcheckout_system.settings_form"/>
    <field name="arch" type="xml">
        <xpath expr="//div[@data-key='general_settings']" position="after">
            <div class="app_settings_block" data-string="Jewelry" string="Jewelry" data-key="payment_jewelry" invisible="context.get('active_system') != 'jewelry'">
                <h2>Jewelry</h2>
                <div class="row mt16 o_settings_container">
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="system_agreement"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="system_agreement"/>
                            <div class="text-muted">
                                Define agreements to facilitate receiving payments
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="system_product"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="system_product"/>
                            <div class="text-muted">
                                Define products to facilitate receiving payments
                            </div>
                            <div class="content-group mt16" attrs="{'invisible': [('system_product', '=', False)]}">
                                <div>
                                    <label for="system_product_payment_validity_ok" string="Payment Validity Period" class="col-lg-6 o_light_label"/>
                                    <field name="system_product_payment_validity_ok" widget="boolean_toggle"/>
                                    <span class="ml4 font-weight-bold" attrs="{'invisible': [('system_product_payment_validity_ok', '!=', False)]}">off</span>
                                    <field name="system_product_payment_validity_time" style="width:50px" class="text-right font-weight-bold text-700" attrs="{'invisible': [('system_product_payment_validity_ok', '=', False)]}"/>
                                    <span class="ml4 font-weight-bold" attrs="{'invisible': [('system_product_payment_validity_ok', '=', False)]}">Second(s)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </xpath>
    </field>
    </record>
</odoo>
