.installment-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .installment-popup {
        position: initial !important;
        transform: none !important;
        max-width: 1000px !important;

        .installment-table {
            background-color: #ffffff;
            color: #888 !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
            font-size: 12px;
            padding: 25px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px;
            max-height: 75vh;
            overflow-y: auto;

            td {
                position: relative;
            }

            img {
                max-height: 50px;
            }

            table {
                table-layout: fixed;
            }

            tr {
                height: 25px;
            }

            th {
                height: 40px;
            }

            tr:nth-child(odd) {
                background-color: #f7fafc;
            }

            thead tr:first-child, tr:last-child {
                background-color: initial !important;
            }

            .side-border {
                border-right: 1px solid #eee;
                border-left: 1px solid #eee;
            }

            .bottom-border {
                border-bottom: 1px solid #eee;
            }

            > div {
                > div {
                    margin: 15px;
                    border: 1px solid #ddd;
                    border-radius: 10px;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    > table {
                        width: 100%;
                        .badge {
                            position: absolute;
                            background-color: #f00;
                            color: #fff;
                            margin: -2px 0 0 2px;
                            font-size: 90%;
                            padding: 3px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

.jetcheckout-dialog {

    .jetcheckout-popup {
        border-radius: 10px !important;
        max-width: 750px !important;
        font-size: 1em !important;
        overflow: hidden !important;
        width: 90% !important;
        border: 4px solid #43996E;

        main {
            height: 300px;
            background-color: #ffffff;
            box-shadow: inset 0px 0px 5px 5px rgb(240, 240, 240);
            transition: 0.2s ease all;
            overflow-y: auto;
        }

        footer {
            .fa {
                margin: 0 5px;
            }
        }
    }

    .button.altlight {
        background: #43996E !important;
        border-color: #43996E !important;
    }

    .button.altlight.danger {
        background: #cb4848 !important;
        border-color: #cb4848 !important;
    }

    /*.payment-jetcheckout-loading {
        visibility: hidden;
        opacity: 0;
        transition: 0.2s ease all;
        position: absolute;
        background-color: #ffffff;
        color: #43996E;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }*/
    
    .payment-jetcheckout-threed {
        display: none;
        width: 100%;
        height: 100%;

        > iframe {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border: none;
        }
    }

    .payment-jetcheckout {
        display: flex;
        justify-content: center;
        //margin: 20px 40px;
        color: #707070;
        border-radius: 10px;
        height: 100%;

        .payment-table {
            width: 50%;
            margin: 10px 5px 10px 10px;
            display: grid;
            grid-row-gap: 20px;
            grid-column-gap: 10px;
            grid-template-areas: "name name""number number""expiration security";
            padding: 20px 10px;
            border-radius: 10px;
            overflow: hidden;

            .field-container:first-of-type {
                grid-area: name;
            }

            .field-container:nth-of-type(2) {
                grid-area: number;
            }
        
            .field-container:nth-of-type(3) {
                grid-area: expiration;
            }
        
            .field-container:nth-of-type(4) {
                grid-area: security;
            }

            .card-logo {
                height: 36px;
                position: absolute;
                right: 75px;
                top: 7px;
                width: 50px;
                display: flex;
                align-items: center;
                border-radius: 5px !important;
                padding: 5px;
                img {
                    width: 100%;
                }
                display: none;
            }

            .card-icon {
                height: 36px;
                position: absolute;
                right: 6px;
                top: 7px;
                width: 50px;
            }
        }

        .installment-table {
            width: 50%;
            background-color: #ffffff;
            border: 2px solid #cccccc;
            border-radius: 10px;
            margin: 20px;
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 5px 5px 1px rgb(240, 240, 240);

            .installment-loading {
                visibility: hidden;
                opacity: 0;
                transition: 0.2s ease all;
                position: absolute;
                background-color: #ffffff;
                color: #43996E;
                bottom: 0;
                left: 0;
                right: 0;
                top: 25px;
                text-align: center;
                z-index: 1;
                padding-top: 75px;
            }

            .installment-header {
                display: flex;
                margin: 10px;

                div {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    color: #43996E;
                }
            }

            .installment-empty {
                display: flex;
                margin-top: 50px;
                flex-direction: column;
                text-align: center;
                padding: 20px;
                margin: auto 0;

                i {
                    color: #43996E;
                    font-size: 1.2em;
                    margin-bottom: 20px;
                }
            }

            .installment-rows {
                padding: 0 10px;
                overflow-y: auto;

                .installment-row {
                    height: 20px;
                    display: flex;
                    font-size: 12px;
                    border-radius: 5px;
                    position: relative;
                    flex: 1;
                    max-height: 2rem;
                    user-select: none;
                    justify-content: space-between;
                    cursor: pointer;

                    input {
                        pointer-events: none;
                    }

                    input:checked {
                        border: 6px solid #fff;
                    }

                    .badge {
                        position: absolute;
                        background-color: #f00;
                        font-weight: 900;
                        color: #fff;
                        padding: 2px;
                        margin: 0 0 0 3px;
                        font-size: 75%;
                        border-radius: 50%;
                    }

                    > div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex: 3;
                    }

                    .installment-cell > div {
                        position: relative;
                        flex: 1;
                    }

                    .installment-cell input {
                        margin: auto;
                        display: block;
                        appearance: none;
                        border-radius: 50%;
                        border: 6px solid #cccccc;
                        width: 0 !important;
                        min-height: 0 !important;
                        padding: 0 !important;
                    }

                    .installment-cell input:checked {
                        border: 6px solid #ffffff;
                    }

                    .installment-cell input ~ .installment-radio:after {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: #ffffff;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                   }

                    .installment-cell input:checked ~ .installment-radio:after {
                        background: #43996E !important;
                   }

                    &.installment-selected {
                        background-color: #43996E;
                        color: #fff;
                        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
                    }

                    &:hover {
                        background-color: #eee;
                    }

                    &.installment-selected:hover {
                        background-color: darken(#43996E, 10%);
                    }
                }
            }
            .installment-rows::-webkit-scrollbar-thumb {
                background-color: #43996E !important;
            }
        }

        .send-table {
            width: 50%;
            margin: 10px 5px 10px 10px;
            display: flex;
            flex-direction: column;
            padding: 20px 10px;
            border-radius: 10px;
            overflow: hidden;
        }

        .link-table {
            width: 50%;
            margin: 10px;
            display: flex;
            flex-direction: column;
            padding: 20px 10px;
            border-radius: 10px;
            border: 2px solid #cccccc;
            box-shadow: 0px 5px 5px 1px rgb(240, 240, 240);
            overflow: hidden;

            textarea {
                padding-right: 55px !important;
            }

            .jetcheckout-link-countdown {
                margin-top: 5px;
            }
        }

        .field-info {
            margin: 5px 10px 25px 10px;
        }

        .field-container {
            position: relative;

            > input, textarea {
                -webkit-box-sizing: border-box;
                min-height: 50px;
                box-sizing: border-box;
                font-size: 18px;
                padding: 10px 5px 10px 10px;
                display: block;
                width: 100%;
                color: #999;
                border: 2px solid #ddd;
                border-radius: 5px;
                resize: none;
                box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
            }

            > input:focus {
                outline: none;
                border-color: #43996E;
            }

            > input::placeholder {
                color: #ccc;
            }

            > label {
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                left: 10px;
                top: -8px;
                height:20px;
                overflow: hidden;
                font-size: 14px;
                font-weight: bold;
                color: #43996E;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
                span {
                    background: #fff;
                    padding: 0 5px;
                }
            }

            > .bar-container {
                position: relative;
                display: block;
                width: 100%;
                width: calc(100% - 2.5px);
                margin: 0 auto;
            }

            > .bar-container:before, > .bar-container:after {
                content: '';
                height: 2px; 
                width: 0;
                bottom: 1px; 
                position: absolute;
                background: #43996E;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }

            > .bar-container:before {
            left: 50%;
            }

            > .bar-container:after {
                right: 50%; 
            }

            > input:focus ~ .bar-container:before, > input:focus ~ .bar-container:after {
                width: 50%;
            }

            > .highlight-container {
                position: absolute;
                height: 50%; 
                width: 100px; 
                top: 0; 
                left: 0;
                pointer-events: none;
                opacity: 0.5;
            }

            > input:focus ~ .highlight-container {
                -webkit-animation: inputHighlighter 0.3s ease;
                -moz-animation: inputHighlighter 0.3s ease;
                animation: inputHighlighter 0.3s ease;
            }

            @-webkit-keyframes inputHighlighter {
                from { background: #43996E; }
                to { width: 0; background: transparent; }
            }

            @-moz-keyframes inputHighlighter {
                from { background: #43996E; }
                to { width: 0; background: transparent; }
            }

            @keyframes inputHighlighter {
                from { background: #43996E; }
                to { width: 0; background: transparent; }
            }

            .symbol {
                position: absolute;
                top: 3px;
                padding: 10px 10px 10px 5px;
                font-size: 18px;
                color: #ccc;
            }

            .symbol-before {
                left: 0;
            }

            .symbol-after {
                right: 0;
            }

            .button {
                position: absolute;
                right: 0;
                top: 1px;
                margin: 0;
                height: calc(100% - 4px);
                width: 50px;
                border-radius: 2px;
                border: none;
                border-left: 2px solid #ddd;
                display: flex;
                justify-content: center;
                align-items: center;

                .fa {
                    font-size: 1.5em;
                }
            }

            .installment-container {
                height: 100%;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                gap: 5px;
            }
        }

        .field-container.is-invalid {
            > input {
                border-color: #cd5c5c;
            }

            > input:focus {
                outline: none;
                border-color: #cd5c5c;
            }

            > label {
                border-color: #cd5c5c;
            }

            > .bar-container:before, > .bar-container:after {
                background: #cd5c5c;
            }
        }
    }
}

.pos {

    .d-none {
        display: none !important;
    }

    .d-block {
        display: block !important;
    }

    .visible {
        visibility: visible !important;
        opacity: 1 !important;
    }

    .visible-half {
        visibility: visible !important;
        opacity: 0.75 !important;
    }

    .text-center {
        text-align: center !important;
    }

    .button.disabled {
        pointer-events: none;
        opacity: 0.8;
    }

    .notification {
        z-index: 9999;
        background: rgba(75, 75, 75, 0.75);
        transform: translate(-50%, -50%);
        border-radius: 10px;

        &.success {
            background: rgba(67, 153, 110, 0.75) !important;
        }

        &.danger {
            background: rgba(178, 34, 34, 0.75) !important;
        }
    }

    .left-content {
        display: flex;
        flex-direction: column;

        .paymentmethods-container {
            flex: 1;
            
            .paymentlines .electronic_payment div:last-child {
                position: relative;
            }
        }

        .paymentmethods-jetcheckout {

            .payment-buttons {
                margin: 0;

                .button {
                    border-radius: 0;
                }

                .button.altlight {
                    background: #43996E !important;
                    border-color: #43996E !important;
                }
            }

            ul.card_families {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 15px;
                background-color: #e5e5e5;

                li {
                    position: relative;
                    width: 50px;
                    height: 25px;
                    overflow: hidden;
                    margin: 5px;
                    border: 2px solid #cccccc;
                    border-radius: 5px;
                    padding: 5px;
                    background-color: #ffffff;

                    img {
                        position: absolute;
                        width: 80%;
                        top: -100%;
                        left: 0;
                        right: 0;
                        bottom: -100%;
                        margin: auto;
                    }
                }
            }

            ul.card_types {
                border-top: 1px solid #cccccc;
                padding: 15px;
                display: flex;
                justify-content: center;
                background-color: #e5e5e5;

                li {
                    position: relative;
                    width: 50px;
                    height: 30px;
                    overflow: hidden;
                    margin: 0 10px;
                    border-radius: 5px;

                    img {
                        position: absolute;
                        width: 100%;
                        top: -100%;
                        left: 0;
                        right: 0;
                        bottom: -100%;
                        margin: auto;
                    }
                }
            }
        }

        .add_payment_transaction {
            flex-grow: 1;
            background-color: #ccc;
            text-align: center;
        }

        .jetcheckout-line-info {
            position: absolute;
            right: calc(100%);
            font-weight: bold;
            font-size: 0.8em;
            white-space: nowrap;
        }
    }
}

@media (max-width: 768px) {
    .installment-dialog .installment-popup .installment-table {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 428px) {
    .installment-dialog .installment-popup .installment-table {
        grid-template-columns: repeat(1, 1fr);
    }
    .jetcheckout-dialog .jetcheckout-popup{

        main {
            min-height: 500px;
        }

        .payment-jetcheckout {
            flex-wrap: wrap;

            .payment-table {
                width: 100% !important;
            }

            .installment-table {
                width: 100% !important;
            }

            .send-table {
                width: 100% !important;
            }

            .link-table {
                width: 100% !important;
            }
        }
    }
}
