.payment-escrow {
    --gradient-primary: #7f36fa;
    --lightgray: #F7F8FA;
    --primary: #241498;
    --danger: #FE5057;
    --success: #4AC548;

    color: #555555 !important;
    overflow: auto !important;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    button {
        border-radius: 8px !important;
    }

    .o_loading {
        backdrop-filter: blur(5px);
    }

    .text-primary {
        color: var(--gradient-primary) !important;
    }

    .header {
        img {
            max-width: 200px;
            max-height: 70px;
            object-fit: contain;
        }
    }

    //.text-primary {
    //    color: #4da0df !important;
    //}

    .shadow {
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05) !important
    }

    .border {
        border-color: #edf2f7 !important;
    }

    .border-bottom {
        border-color: #edf2f7 !important;
    }

    .card {
        border-color: #edf2f7 !important;
    }

    .payment-option {
        cursor: pointer;
    }

    .payment-option:hover {
        background-color: rgba(51, 122, 183, 0.1);
    }

    .info-card {
        box-shadow: inset 0 -22px 18px -5px #f7fafc;

        .info-icon {
            right: 40px;
            top: 20px;
            font-size: 2rem;
            color: #edf2f7;

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        .payment-amount-total {
            color: #888888;

            div {
                float: right;
                display: flex;
                overflow: hidden;
                flex-direction: row;
                justify-content: end;
                max-width: 250px;
                border-bottom: 2px solid #cccccc;

                input {
                    border: none;
                    outline: none;
                    background: none;
                    color: #888888;
                    font-weight: bold;
                    text-align: right;
                    max-width: 200px;

                    animation: cursor-blink 1.5s steps(2) infinite;
                    background-size: 1px 1.2em;
                    background-repeat: no-repeat;
                    background-position: right 0 center;
                    background-image: linear-gradient(#888888, #888888);

                    &:focus {
                        background-image:none;
                    }

                }

                span {
                    max-width: 45px;
                    margin-left: 5px;
                    user-select: none;
                }

                @keyframes cursor-blink {
                  0% { background-size: 0 1.2em; }
                }
            }
        }
    }
    
    .payment-list {
        max-height: 250px;
        thead {
            position: sticky;
            top: -1px;
            z-index: 1;
        }

        tfoot {
            position:sticky;
            bottom: -1px;
            z-index: 1;
        }

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            background-color: #f7fafc;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ccc;
            border-radius: 50px;
        }

        &::-webkit-scrollbar-corner {
            background-color: initial;
        }
 
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    
    .payment-kanban {
        display: grid;
        gap: 10px;

        > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "date amount""duedate residual""desc desc";

            > div {
                border: 1px dashed #edf2f7;

                &:first-of-type {
                    grid-area: date;
                }
        
                &:nth-of-type(2) {
                    grid-area: amount;
                }
            
                &:nth-of-type(3) {
                    grid-area: duedate;
                }
            
                &:nth-of-type(4) {
                    grid-area: residual;
                }
            
                &:nth-of-type(5) {
                    grid-area: desc;
                }
                > span {
                    display: block;
                }
            }
        }

        .payment-kanban-checkbox {
            top: 0;
            right: 0;

            label {
                cursor: pointer;

                > span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 0;
                    border-bottom: 36px solid transparent;
                    border-right: 36px solid #eeeeee;
                    transition: 0.2s ease all; 
                    -moz-transition: 0.2s ease all; 
                    -webkit-transition: 0.2s ease all;
            
                    i {
                        position: absolute;
                        top: 3px;
                        right: -32px;
                        color: #aaaaaa;
                        transition: 0.2s ease all; 
                        -moz-transition: 0.2s ease all; 
                        -webkit-transition: 0.2s ease all;
                    }

                    &:hover i {
                        color: #6acd9c !important;
                    }
                }

                input {
                    display: none;
                }
    
                input:checked ~ span {
                    border-right-color: #6acd9c;
    
                    i {
                        color: #ffffff;
                    }

                    &:hover {
                        border-right-color: #cd5c5c !important;

                        i {
                            color: #ffffff !important;
                        }
                    }
                }
            }
        }

        .payment-kanban-pdf {
            bottom: 0;
            right: 0;
            width: 40px;

            button {
                width: 40px;
                height: 40px;
                border-radius: 0;
            }
        }
 
        .payment-all-items-btn {
            &:hover {
                label {
                    > span i {
                        color: #6acd9c !important;
                    }
    
                    input:checked ~ span {
                        border-right-color: #cd5c5c !important;
    
                        i {
                            color: #ffffff !important;
                        }
                    }
                }
            }
        }


        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    .escrow-ad-wrapper {
        transition: filter 0.25s;
        &.blur {
            filter: blur(5px);
        }
    }

    .escrow-ad-sideback {
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    .escrow-ad-sidebar {
        transition: all 0.2s ease-in-out;
        right: -500px;
        opacity: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        width: 500px;
        height: 100vh;
        padding: 24px;
        position: fixed;
        border-left: 1px solid #eeeeee;
        background-color: var(--white);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05) !important;

        &.show {
            right: 0px;
            opacity: 1;
        }

        .escrow-ad-sidebar-settings-help {
            i {
                width: 24px;
            }
        }
        
        .escrow-ad-sidebar-items {
            .h3 {
                border-bottom: 2px solid var(--lightgray);
            }

            .escrow-ad-sidebar-item-card {
                display: flex;
                border-radius: 10px;
                border: 2px solid var(--lightgray);

                > :nth-child(1) {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    img {
                        width: 90%;
                        height: fit-content;
                    }
                }

                > :nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 70%;
                    margin: 1em 0;

                    .escrow-ad-item-name {
                        font-size: 1.2em;
                        font-weight: 600;
                    }

                    .escrow-ad-item-categ {
                        font-size: 1.2em;
                        font-weight: 500;
                        color: #cccccc;
                    }
                }
            }

            .escrow-ad-item-price {
                margin: 1em 0;
                font-weight: 600;
                font-size: 1.5em;
            }

            .escrow-ad-item-state {
                margin: 1em 0;
                span {
                    border-radius: 20px;
                    background-color: var(--lightgray);
                    color: var(--black);
                    padding: 8px 16px;
                    font-size: 0.82em;
                    font-weight: 500;

                    &.danger {
                        background-color: var(--danger);
                        color: var(--white);
                    }
                }
            }

            .escrow-ad-item-desc {
                margin: 2em 0;
                padding: 1em 0;
                border-top: 2px solid var(--lightgray);
            }

            .escrow-ad-item-footer {
                position: absolute;
                z-index: 1;
                border-top: 2px solid var(--lightgray);
                padding: 0.5rem;
                width: 100%;
                gap: 6px;
                bottom: 0;
                margin: 0 -24px;
                display: flex;
                justify-content: end;
                button {
                    border-radius: 8px;
                    padding: 6px 12px;
                    background-color: var(--lightgray);
                    transition: all 0.2s;
                    &:hover {
                        background-color: #eeeeee;
                    }
                    &:last-child {
                        color: var(--white);
                        background-image: linear-gradient(to right bottom, var(--gradient-primary) 0%, var(--primary) 100%);
                        &:hover {
                            background-position: 100%;
                        }
                    }
                }
            }
        }

        > button {
            position: absolute;
            top: 2px;
            right: 2px;
        }

        > div button {
            border-radius: 8px;
            background-color: var(--lightgray);
            transition: all 0.2s;
            &:hover {
                background-color: #eeeeee;
            }
            &.active {
                color: var(--white);
                background-size: 200% auto;
                background-image: linear-gradient(to right bottom, var(--gradient-primary) 0%, var(--primary) 100%);
                &:hover {
                    background-position: 100%;
                }
            }
        }
    }

    .escrow-ad-container {
        max-width: 800px;
        margin: 0 auto;
    }

    .escrow-ad-edit {
        display: none;
    }

    .escrow-ad-nav {
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
        margin-bottom: 1em;

        .escrow-ad-nav-control {
            display: flex;
            justify-content: space-between;
            padding: 0 1em;

            .escrow-ad-nav-button-primary {
                margin: 0 1.5rem;
                color: var(--white);
                transition: 0.5s;
                background-size: 200% auto;
                background-image: linear-gradient(to right bottom, var(--gradient-primary) 0%, var(--primary) 100%);
                box-shadow: rgba(33, 35, 38, 0.35) 0px 10px 10px -10px;
                &:hover {
                    background-position: 100%;
                }
            }

            .escrow-ad-nav-button-secondary {
                background-color: var(--lightgray);
                transition: all 0.2s;
                &:hover {
                    background-color: #eeeeee;
                }
                &.active {
                    color: var(--lightgray);
                    background-color: #333333;
                    &:hover {
                        background-color: #555555;
                    }
                }
            }
        }
    }

    .escrow-ad-list {
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        font-weight: 500;

        .escrow-ad-list-header {
            display: flex;
            width: 100%;
            color: #666666;

            > div {
                padding-left: 1rem;
            }

            > :nth-child(1) {
                flex: 2;
            }

            > :nth-child(2) {
                flex: 1;
            }

            > :nth-child(3) {
                flex: 1;
            }

            > :nth-child(4) {
                flex: 1;
            }
        }

        .escrow-ad-list-item {
            width: 100%;
            display: flex;
            border: 12px solid var(--lightgray);
            border-radius: 8px;
            padding: 8px;
            margin: 0.5rem 0;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05) !important;
            }

            > div {
                display: flex;
                align-items: center;
            }

            > :nth-child(1) {
                flex: 2;
                img {
                    height: 36px;
                    padding: 0 0.5rem;
                }
                span {
                    flex: 1 1 auto;
                }
            }

            > :nth-child(2) {
                flex: 1;
                color: #cccccc;
                padding: 0 10px;
                border-left: 2px solid var(--lightgray);
            }

            > :nth-child(3) {
                flex: 1;
                padding: 0 10px;
                border-left: 2px solid var(--lightgray);
            }

            > :nth-child(4) {
                flex: 1;
                padding: 0 10px;
                border-left: 2px solid var(--lightgray);

                span {
                    border-radius: 20px;
                    background-color: var(--lightgray);
                    color: var(--black);
                    padding: 4px 12px;
                    font-size: 0.82em;

                    &.danger {
                        background-color: var(--danger);
                        color: var(--white);
                    }
                }
            }
        }
    }

    .escrow-ad-grid {
        display: none;

        .escrow-ad-grid-container {
            display: grid;
            gap: 12px;
            grid-template-columns: 1fr 1fr 1fr;

            .escrow-ad-grid-item {
                border: 4px solid var(--lightgray);
                border-radius: 8px;
                font-weight: 500;
                padding: 10px;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05) !important;
                }

                > :nth-child(1) {
                    display: flex;
                    align-items: center;
                    img {
                        height: 36px;
                        padding: 0 0.5rem;
                    }
                    span {
                        flex: 1 1 auto;
                        display: flex;
                        align-items: center;
                    }
                }

                > :nth-child(2) {
                    > :nth-child(1) {
                        flex: 1;
                        color: #cccccc;
                        padding: 2px 10px;
                    }

                    > :nth-child(2) {
                        padding: 2px 10px;
                    }

                    > :nth-child(3) {
                        padding: 2px 10px;
                        span {
                            border-radius: 20px;
                            background-color: var(--lightgray);
                            color: var(--black);
                            padding: 4px 12px;
                            font-size: 0.82em;

                            &.danger {
                                background-color: var(--danger);
                                color: var(--white);
                            }
                        }
                    }
                }
            }
        }
    }

    .escrow-ad-form {
        display: none;

        .escrow-ad-form-container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-areas: "name img""categ img""price img""desc img";
            gap: 10px;

            div.field-name {
                grid-area: name;
            }

            div.field-categ {
                grid-area: categ;
            }

            div.field-img {
                grid-area: img;

                /*> div:first-child {
                    background-color: #F1F0EF;
                    border-radius: 12px;
                    margin-bottom: 0.5em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 16px;

                    img {
                        max-width: 120px;
                        border-radius: 24px;
                        border: 4px solid #ffffff;
                        background-color: #ffffff;
                    }
                }*/

                .filepond--drop-label label {
                    color: #888888;
                }
            }

            div.field-price {
                grid-area: price;
            }

            div.field-desc {
                grid-area: desc;
            }
        }
    }

    .escrow-seller-container {
        display: flex;
        justify-content: center;

        .escrow-seller-info {
            border-radius: 20px;
            min-width: 500px;
        }

        .escrow-seller-header {
            font-weight: bold;
            text-align: center;
        }

        .escrow-seller-option {
            border-radius: 10px;
            max-width: 300px;
            border: 2px solid #ddd;
            padding: 4px;
        }

        .escrow-seller-input {
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }

        label {
            font-size: 0.9em;
            font-weight: bold;
        }

        input {
            border-radius: 6px;
            border: 2px solid #ddd;
            padding: 10px;
        }

        .escrow-seller-submit {
            display: flex;
            justify-content: center;
            button {
                border-radius: 30px !important;
                padding: 0.8rem 3rem !important;
            }
        }

    }
}
