.payment-token-verify {
    *::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: #f7fafc;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 50px;
    }

    *::-webkit-scrollbar-corner {
        background-color: initial;
    }

    .o_loading {
        color: var(--o-palette-base-1-o-color-1) !important;
        //background: #ffffff !important;
    }

    .payment-card {
        .payment-form-container {
            grid-template-areas: "name name" "number number" "expiration security" "tokenVerify tokenVerify" !important;

            .payment-token-verify-button {
                grid-area: tokenVerify;
                background-color: var(--o-palette-base-1-o-color-1);
                color: #ffffff;
                font-weight: bold;
                font-size: 1.1em;

                &:focus {
                    filter: brightness(0.9);
                }
            }

            &.payment-gradient {
                min-height: 360px !important;
            }

            .field-container {
                > input[type=text]:focus {
                    border-color: var(--o-palette-base-1-o-color-1) !important;

                    &~ .bar-container:before, &~ .bar-container:after {
                        background: var(--o-palette-base-1-o-color-1) !important;
                    }
                }

                > label {
                    color: var(--o-palette-base-1-o-color-1) !important;
                }
            }
        }
    }
}

.payment-token-result {
    .o_main_navbar {
        display: none;
    }
}

@media (max-width: 460px), (min-width: 768px) and (max-width: 1125px) {
    .payment-card {
        .ccicon {
            top: auto !important;
            bottom: 0px !important;
            right: 20px !important;
            width: 50px !important;
            height: 30px !important;
        }

        .cclogo {
            top: auto !important;
            bottom: 0px !important;
            width: 50px !important;
            height: 30px !important;
        }
    }
}