.payment-page {
    .payment-form-container {
        grid-template-areas:
            "name name"
            "number number"
            "expiration security"
            "terms terms"
            "agreement agreement";

        .field-container:nth-of-type(6) {
            grid-area: agreement;
        }
    }

    .btn-payment-agreement {
        gap: 6px;
        border: none;
        display: flex;
        font-size: 0.9em;

        label {
            cursor: pointer;

            &:first-of-type {
                flex: none;
            }

            &:last-of-type {
                text-align: left;
            }
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}