<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="settings_form" model="ir.ui.view">
    <field name="name">payment.settings.form</field>
    <field name="model">payment.settings</field>
    <field name="priority" eval="90"/>
    <field name="inherit_id" ref="payment_jetcheckout_system.settings_form"/>
    <field name="arch" type="xml">
        <xpath expr="//div[@class='settings']" position="inside">
            <div class="app_settings_block" data-string="syncOPS" string="syncOPS" data-key="connector_syncops">
                <h2><i class="fa fa-address-book-o mr8"/>Partners</h2>
                <div class="row mt16 o_settings_container">
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_check_iban"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_check_iban" string="Check Partners IBAN"/>
                            <div class="text-muted">
                                Verify whether your partners' bank IBAN numbers are correct
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_check_card"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_check_card" string="Check Credit Card Numbers"/>
                            <div class="text-muted">
                                Verify whether payment credit card numbers are correct
                            </div>
                        </div>
                    </div>
                </div>
                <h2><i class="fa fa-file-photo-o mr8"/>Payment Page</h2>
                <div class="row mt16 o_settings_container">
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_payment_page_partner_required"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_payment_page_partner_required" string="Partner Selection Required"/>
                            <div class="text-muted">
                                Make partner choice required on payment page for the company
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_payment_page_repull_partners"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_payment_page_repull_partners" string="Repull Partners when Searching"/>
                            <div class="text-muted">
                                When searching partners on payment page, repull partners all over again
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_payment_page_sync_item"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_payment_page_sync_item" string="Sync Items Before Payment Page"/>
                            <div class="text-muted">
                                Sync relevant items before opening a payment page
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_cron_sync_partner"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_cron_sync_partner" string="Sync Partners Automatically"/>
                            <div class="text-muted">
                                Run a cronjob and sync partner list every day
                            </div>
                            <div class="content-group" attrs="{'invisible': [('syncops_cron_sync_partner', '=', False)]}">
                                <div class="row mt16">
                                    <label for="syncops_cron_sync_partner_day_ids" string="Sync Day" class="col-lg-4 o_light_label"/>
                                    <field name="syncops_cron_sync_partner_day_ids" class="o_checkboxes_horizontal" widget="many2many_checkboxes"/>
                                </div>
                                <div class="row">
                                    <label for="syncops_cron_sync_partner_hour" string="Sync Time" class="col-lg-4 o_light_label"/>
                                    <field name="syncops_cron_sync_partner_hour" class="text-right text-700" style="width:24px;margin-top:-1px;" placeholder="00"/>:00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2><i class="fa fa-list-ul mr8"/>Payment Items</h2>
                <div class="row mt16 o_settings_container">
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_sync_item_force"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_sync_item_force" string="Sync Payment Items From Scratch"/>
                            <div class="text-muted">
                                Even if they are paid, sync payment items all over
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_sync_item_soft"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_sync_item_soft" string="Sync Payment Items Without Unlink"/>
                            <div class="text-muted">
                                Do not unlink any payment items while syncing
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_sync_item_no_partner"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_sync_item_no_partner" string="Sync Payment Items Without New Partners"/>
                            <div class="text-muted">
                                Sync payment items without syncing new partners
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_sync_item_split"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_sync_item_split" string="Split Done Payment Items"/>
                            <div class="text-muted">
                                Sync done payment items one by one
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_cron_sync_item"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_cron_sync_item" string="Sync Payment Items Automatically"/>
                            <div class="text-muted">
                                Run a cronjob and sync payment items at specified time
                            </div>
                            <div class="content-group" attrs="{'invisible': [('syncops_cron_sync_item', '=', False)]}">
                                <div class="row mt16">
                                    <label for="syncops_cron_sync_item_day_ids" string="Sync Day" class="col-lg-4 o_light_label"/>
                                    <field name="syncops_cron_sync_item_day_ids" class="o_checkboxes_horizontal" widget="many2many_checkboxes"/>
                                </div>
                                <div class="row">
                                    <label for="syncops_cron_sync_item_hour" string="Sync Time" class="col-lg-4 o_light_label"/>
                                    <span class="border rounded pr-2 pt-1">
                                        <field name="syncops_cron_sync_item_hour" class="text-right text-700 m-0 font-weight-bold bg-none" style="width:24px;margin-top:-2px;border:none" placeholder="00"/>
                                        <span class="text-muted">: 00</span>
                                    </span>
                                </div>
                                <div class="row">
                                    <label for="syncops_cron_sync_item_subtype" string="Sync Type" class="col-lg-4 o_light_label"/>
                                    <field name="syncops_cron_sync_item_subtype" widget="radio" attrs="{'required': [('syncops_cron_sync_item', '!=', False)]}"/>
                                </div>
                                <div class="row">
                                    <label for="syncops_cron_sync_item_notif_ok" string="Notify Partners" class="col-lg-4 o_light_label"/>
                                    <field name="syncops_cron_sync_item_notif_ok" widget="boolean_toggle"/>
                                </div>
                                <div class="row ml-0 border-left" style="border-width:2px !important" attrs="{'invisible': [('syncops_cron_sync_item_notif_ok', '=', False)]}">
                                    <label for="syncops_cron_sync_item_notif_type_ids" string="Notification Type" class="col-lg-4 o_light_label"/>
                                    <field name="syncops_cron_sync_item_notif_type_ids" class="o_checkboxes_horizontal" widget="many2many_checkboxes"/>
                                </div>
                                <div class="row ml-0 border-left" style="border-width:2px !important" attrs="{'invisible': [('syncops_cron_sync_item_notif_ok', '=', False)]}">
                                    <label for="syncops_cron_sync_item_notif_hour" string="Notification Time" class="col-lg-4 o_light_label"/>
                                    <span class="border rounded pr-2 pt-1">
                                        <field name="syncops_cron_sync_item_notif_hour" class="text-right text-700 m-0 font-weight-bold bg-none" style="width:24px;margin-top:-2px;border:none" placeholder="00"/>
                                        <span class="text-muted">: 00</span>
                                    </span>
                                </div>
                                <div class="row ml-0 pl-3 pt-2 border-left" style="border-width:2px !important" attrs="{'invisible': [('syncops_cron_sync_item_notif_ok', '=', False)]}">
                                    Only <field name="syncops_cron_sync_item_notif_tag_opt" attrs="{'required': [('syncops_cron_sync_item_notif_ok', '!=', False)]}" class="text-center mx-1" style="width: 64px"/> following partner tags<br/><br/><field name="syncops_cron_sync_item_notif_tag_ids" widget="many2many_tags" options="{'color_field': 'color', 'no_create': True, 'no_open': True}" class="w-100" placeholder="Partner Tags..."/>
                                    <field name="syncops_cron_sync_item_notif_tag_ok" invisible="1"/>
                                </div>
                                <div class="row ml-0 pl-3 pt-2 border-left" style="border-width:2px !important" attrs="{'invisible': [('syncops_cron_sync_item_notif_ok', '=', False)]}">
                                    Only <field name="syncops_cron_sync_item_notif_user_opt" attrs="{'required': [('syncops_cron_sync_item_notif_ok', '!=', False)]}" class="text-center mx-1" style="width: 64px"/> following sales representatives<br/><br/><field name="syncops_cron_sync_item_notif_user_ids" widget="many2many_tags" options="{'color_field': 'color', 'no_create': True, 'no_open': True}" class="w-100" placeholder="Sales Representatives..."/>
                                    <field name="syncops_cron_sync_item_notif_user_ok" invisible="1"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </xpath>
    </field>
    </record>
</odoo>
