<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="settings_form" model="ir.ui.view">
    <field name="name">payment.settings.otp.form</field>
    <field name="model">payment.settings</field>
    <field name="priority" eval="10"/>
    <field name="inherit_id" ref="payment_jetcheckout_system.settings_form"/>
    <field name="arch" type="xml">
        <xpath expr="//div[@data-key='general_settings']" position="after">
            <div class="app_settings_block" data-string="syncOPS" string="syncOPS" data-key="connector_syncops">
                <h2>syncOPS</h2>
                <div class="row mt16 o_settings_container">
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_payment_page_partner_required"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_payment_page_partner_required" string="Partner Selection Required"/>
                            <div class="text-muted">
                                Make partner choice required on payment page for the company
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_cron_sync_partner"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_cron_sync_partner" string="Sync Partners Automatically"/>
                            <div class="text-muted">
                                Run a cronjob and sync partner list every day
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_check_iban"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_check_iban" string="Check Partners IBAN"/>
                            <div class="text-muted">
                                Verify whether your partners' bank IBAN numbers are correct
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_check_card"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_check_card" string="Check Credit Card Numbers"/>
                            <div class="text-muted">
                                Verify whether payment credit card numbers are correct
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt16 o_settings_container">
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_sync_item_force"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_sync_item_force" string="Sync Payment Items From Scratch"/>
                            <div class="text-muted">
                                Even if they are paid, sync payment items all over
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="syncops_cron_sync_item"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="syncops_cron_sync_item" string="Sync Payment Items Automatically"/>
                            <div class="text-muted">
                                Run a cronjob and sync payment items at specified time
                            </div>
                            <div class="content-group" attrs="{'invisible': [('syncops_cron_sync_item', '=', False)]}">
                                <div class="row mt16">
                                    <label for="syncops_cron_sync_item_hour" string="Sync Time" class="col-lg-4 o_light_label"/>
                                    <field name="syncops_cron_sync_item_hour" class="text-right text-700" style="width:16px;margin-top:-1px;" placeholder="00"/>:00 
                                </div>
                                <div class="row">
                                    <label for="syncops_cron_sync_item_subtype" string="Sync Type" class="col-lg-4 o_light_label"/>
                                    <field name="syncops_cron_sync_item_subtype" widget="radio" attrs="{'required': [('syncops_cron_sync_item', '!=', False)]}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </xpath>
    </field>
    </record>
</odoo>
