<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="settings_form" model="ir.ui.view">
    <field name="name">payment.settings.form</field>
    <field name="model">payment.settings</field>
    <field name="arch" type="xml">
        <form string="Settings" class="oe_form_configuration o_base_settings" js_class="base_settings">
            <div class="o_control_panel">
                <div class="o_panel">
                    <ol role="navigation" class="breadcrumb o_settings_title d-none d-md-block">
                        <li class="breadcrumb-item active">Settings</li>
                    </ol>
                    <div class="o_setting_search">
                        <input type="text" class="searchInput pull-right p-0 pb-1" placeholder="Search..."/>
                        <span class="searchIcon"><i class="fa fa-search" role="img" aria-label="Search" title="Search"/></span>
                    </div>
                </div>
                <header>
                    <button string="Save" type="object" name="execute" class="oe_highlight"/>
                    <button string="Discard" type="object" name="cancel" special="cancel" data-hotkey="z"/>
                </header>
            </div>
            <div class="o_setting_container">
                <div class="settings_tab"/>
                <div class="settings">
                    <div class="notFound o_hidden">
                        <div class="o_view_nocontent">
                            <div class="o_nocontent_help">
                                <p class="o_view_nocontent_empty_folder">
                                    No setting found
                                </p>
                                <p>
                                    Try searching for another keyword
                                    <field name="company_id" invisible="1"/>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="app_settings_block" data-string="Settings" string="Settings" data-key="general_settings">
                        <h2>Settings</h2>
                        <div class="row mt16 o_settings_container">
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_left_pane">
                                    <field name="payment_page_ok"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="payment_page_flow" string="Payment Page"/>
                                    <div class="text-muted">
                                        Make payment page active and specify page flow when getting payments
                                    </div>
                                    <div class="content-group" attrs="{'invisible': [('payment_page_ok', '=', False)]}">
                                        <div class="row mt16">
                                            <field name="payment_page_flow" class="ml-3 o_field_radio_items" widget="radio" options="{'horizontal': True}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_left_pane">
                                    <field name="payment_advance_ok"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="payment_advance_ok" string="Advance Payment Page"/>
                                    <div class="text-muted">
                                        Accept advance payments from partners
                                    </div>
                                    <div class="content-group" attrs="{'invisible': [('payment_advance_ok', '=', False)]}">
                                        <div class="row mt16">
                                            <label for="payment_advance_amount_readonly" string="Amount Readonly" class="col-lg-4 o_light_label"/>
                                            <field name="payment_advance_amount_readonly" widget="boolean_toggle"/>
                                        </div>
                                        <div class="row mt16">
                                            <label for="payment_advance_assign_salesperson" string="Assign Salesperson" class="col-lg-4 o_light_label"/>
                                            <field name="payment_advance_assign_salesperson" widget="boolean_toggle"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt16 o_settings_container">
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_left_pane">
                                    <field name="payment_page_item_priority"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="payment_page_item_priority" string="Prioritize Payment Items"/>
                                    <div class="text-muted">
                                        Select payment items one by one according to their dates
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_left_pane">
                                    <field name="payment_page_advance_ok"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="payment_page_advance_ok" string="Activate Advance Payments"/>
                                    <div class="text-muted">
                                        Allow partners to make advance payments on payment page
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt16 o_settings_container">
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_left_pane">
                                    <field name="payment_page_campaign_table_ok"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="payment_page_campaign_table_ok" string="Campaign Table"/>
                                    <div class="text-muted">
                                        Use campaign table instead of installment table on payment page
                                    </div>
                                    <div class="content-group" attrs="{'invisible': [('payment_page_campaign_table_ok', '=', False)]}">
                                        <div class="row mt16">
                                            <label for="payment_page_campaign_table_transpose" string="Transpose Table" class="col-lg-4 o_light_label"/>
                                            <field name="payment_page_campaign_table_transpose" widget="boolean_toggle"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_left_pane">
                                    <field name="required_2fa"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="required_2fa"/>
                                    <div class="text-muted">
                                        Make two factor authentication usage essential for users
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt16 o_settings_container">
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_left_pane">
                                    <field name="payment_dashboard_button_ok"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="payment_dashboard_button_ok" string="Dashboard Payment Button"/>
                                    <div class="text-muted">
                                        Put a payment button at the top of the dashboard page in order to redirecting user to payment page
                                    </div>
                                    <div class="content-group" attrs="{'invisible': [('payment_dashboard_button_ok', '=', False)]}">
                                        <div class="row mt16">
                                            <label for="payment_dashboard_button_url" string="URL" class="col-lg-4 o_light_label"/>
                                            <field name="payment_dashboard_button_url" class="flex-fill" placeholder="/my/payment"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_left_pane"/>
                                <div class="o_setting_right_pane">
                                    <label for="payment_dashboard_field_amount" string="Dashboard Payment Amount Field"/>
                                    <div class="text-muted">
                                        Specify a base field from which the amount data retrieved on dashboard
                                    </div>
                                    <div class="content-group">
                                        <div class="mt16">
                                            <field name="payment_dashboard_field_amount" widget="radio" class="flex-fill"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app_settings_block" data-string="Dues" string="Dues" data-key="hr_attendance">
                        <h2>Dues</h2>
                        <div class="row mt16 o_settings_container">
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_left_pane">
                                    <field name="payment_page_due_ok"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="payment_page_due_ids" string="Average Dues"/>
                                    <div class="text-muted">
                                        Specify different campaings per average due dates on payment page
                                    </div>
                                    <div class="content-group" attrs="{'invisible': [('payment_page_due_ok', '=', False)]}">
                                        <div class="row mt16">
                                            <label for="payment_page_due_base" string="Base Date" class="col-lg-4 o_light_label"/>
                                            <field name="payment_page_due_base" widget="radio" options="{'horizontal': True}"/>
                                        </div>
                                        <div class="row mt16">
                                            <label for="payment_page_due_reminder_ok" string="Set Reminder" class="col-lg-4 o_light_label"/>
                                            <field name="payment_page_due_reminder_ok" widget="boolean_toggle"/>
                                        </div>
                                        <div class="mt16 pl-3 border-left" style="border-width:2px !important" attrs="{'invisible': [('payment_page_due_reminder_ok', '=', False)]}">
                                            Send email to partners when <field name="payment_page_due_reminder_day" attrs="{'required': [('payment_page_due_reminder_ok', '!=', False)]}" class="text-right mr-1" style="width: 32px"/> day(s) left to next due date
                                        </div>
                                        <div class="mt16 pl-3 border-left" style="border-width:2px !important" attrs="{'invisible': [('payment_page_due_reminder_ok', '=', False)]}">
                                            Only <field name="payment_page_due_reminder_user_opt" attrs="{'required': [('payment_page_due_reminder_ok', '!=', False)]}" class="text-center mx-1" style="width: 64px"/> following sales representative(s)<br/><field name="payment_page_due_reminder_user_ids" domain="[('company_id', '=', company_id)]" class="w-100" widget="many2many_tags" placeholder="Sales representative(s)..." options="{'no_create': True, 'no_open': True}"/>
                                            <field name="payment_page_due_reminder_user_ok" invisible="1"/>
                                        </div>
                                        <div class="mt16 pl-3 border-left" style="border-width:2px !important" attrs="{'invisible': [('payment_page_due_reminder_ok', '=', False)]}">
                                            Only <field name="payment_page_due_reminder_team_opt" attrs="{'required': [('payment_page_due_reminder_ok', '!=', False)]}" class="text-center mx-1" style="width: 64px"/> following sales team(s)<br/><field name="payment_page_due_reminder_team_ids" domain="[('company_id', '=', company_id)]" class="w-100" widget="many2many_tags" placeholder="Sales team(s)..." options="{'no_create': True, 'no_open': True}"/>
                                            <field name="payment_page_due_reminder_team_ok" invisible="1"/>
                                        </div>
                                        <div class="mt16 pl-3 border-left" style="border-width:2px !important" attrs="{'invisible': [('payment_page_due_reminder_ok', '=', False)]}">
                                            Only <field name="payment_page_due_reminder_partner_opt" attrs="{'required': [('payment_page_due_reminder_ok', '!=', False)]}" class="text-center mx-1" style="width: 64px"/> following partner(s)<br/><field name="payment_page_due_reminder_partner_ids" domain="[('company_id', '=', company_id)]" class="w-100" widget="many2many_tags" placeholder="Partner(s)..." options="{'no_create': True, 'no_open': True}"/>
                                            <field name="payment_page_due_reminder_partner_ok" invisible="1"/>
                                        </div>
                                        <div class="mt16 pl-3 border-left" style="border-width:2px !important" attrs="{'invisible': [('payment_page_due_reminder_ok', '=', False)]}">
                                            Only <field name="payment_page_due_reminder_tag_opt" attrs="{'required': [('payment_page_due_reminder_ok', '!=', False)]}" class="text-center mx-1" style="width: 64px"/> following partner tag(s)<br/><field name="payment_page_due_reminder_tag_ids" domain="[('company_id', '=', company_id)]" class="w-100" widget="many2many_tags" placeholder="Partner tag(s)..." options="{'no_create': True, 'no_open': True}"/>
                                            <field name="payment_page_due_reminder_tag_ok" invisible="1"/>
                                        </div>
                                        <div class="mt16">
                                            <field name="payment_page_due_ids" class="w-100">
                                                <tree editable="bottom">
                                                    <field name="due" decoration-bf="1"/>
                                                    <field name="unit" string=" " width="0.2" decoration-bf="1"/>
                                                    <field name="tolerance"/>
                                                    <field name="round" widget="boolean_toggle"/>
                                                    <field name="campaign_id" options="{'no_create': True, 'no_open': True}" required="1"/>
                                                    <field name="mail_template_id" domain="[('model', '=', 'res.partner')]" options="{'no_create': True, 'no_open': True}" optional="hide" attrs="{'column_invisible': [('parent.payment_page_due_reminder_ok', '=', False)]}"/>
                                                    <field name="campaign_ids" invisible="1"/>
                                                </tree>
                                                <form>
                                                    <sheet>
                                                        <group>
                                                            <group>
                                                                <field name="due"/>
                                                                <field name="tolerance"/>
                                                                <field name="unit"/>
                                                                <field name="round" widget="boolean_toggle"/>
                                                            </group>
                                                            <group>
                                                                <field name="campaign_id" options="{'no_create': True, 'no_open': True}" required="1"/>
                                                                <field name="mail_template_id" domain="[('model', '=', 'res.partner')]" options="{'no_create': True, 'no_open': True}" optional="hide" attrs="{'invisible': [('parent.payment_page_due_reminder_ok', '=', False)]}"/>
                                                                <!--<field name="tag_ids">
                                                                    <tree editable="bottom">
                                                                        <field name="name"/>
                                                                    </tree>
                                                                </field>-->
                                                                <field name="campaign_ids" invisible="1"/>
                                                            </group>
                                                        </group>
                                                    </sheet>
                                                </form>
                                            </field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_left_pane"/>
                                <div class="o_setting_right_pane">
                                <label for="payment_page_campaign_tag_ids" string="Tags"/>
                                    <div class="text-muted">
                                        Specify different campaings per tag on payment page
                                    </div>
                                    <div class="content-group">
                                        <div class="mt16">
                                            <field name="payment_page_campaign_tag_ids" class="w-100">
                                                <tree>
                                                    <field name="sequence" widget="handle"/>
                                                    <field name="name" decoration-bf="1"/>
                                                    <field name="campaign_id" options="{'no_create': True, 'no_open': True}"/>
                                                    <field name="campaign_ids" invisible="1"/>
                                                </tree>
                                                <form>
                                                    <sheet>
                                                        <group>
                                                            <group>
                                                                <field name="name"/>
                                                                <field name="campaign_id" options="{'no_create': True, 'no_open': True}"/>
                                                                <field name="campaign_ids" invisible="1"/>
                                                            </group>
                                                            <group>
                                                                <field name="line_ids" attrs="{'invisible': [('campaign_id', '=', False)]}">
                                                                    <tree editable="bottom">
                                                                        <field name="name"/>
                                                                    </tree>
                                                                </field>
                                                            </group>
                                                        </group>
                                                    </sheet>
                                                </form>
                                            </field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt16 o_settings_container">
                            <div class="col-12 col-lg-6 o_setting_box" attrs="{'invisible': [('payment_page_due_ok', '=', False)]}">
                                <div class="o_setting_left_pane">
                                    <field name="payment_page_due_hide_payment_ok"/>
                                </div>
                                <div class="o_setting_right_pane">
                                <label for="payment_page_due_hide_payment_ok" string="Hide Payment Form"/>
                                    <div class="text-muted">
                                        If due date is out of the list, hide payment form
                                    </div>
                                    <div class="content-group" attrs="{'invisible': [('payment_page_due_hide_payment_ok', '=', False)]}">
                                        <div class="row mt16">
                                            <label for="payment_page_due_hide_payment_message" string="Message" class="col-lg-4 o_light_label"/>
                                            <field name="payment_page_due_hide_payment_message" class="flex-fill" placeholder="This message will be displayed instead of payment form..."/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app_settings_block" data-string="Notifications" string="Notifications" data-key="snailmail">
                        <h2>Notifications</h2>
                        <div class="row mt16 o_settings_container" id="system_notification">
                            <div class="col-12 col-lg-6 o_setting_box" id="system_notification_webhook">
                                <div class="o_setting_left_pane"/>
                                <div class="o_setting_right_pane">
                                    <label for="notif_webhook_ids"/>
                                    <a href="/api#tag/Webhook-Methods" title="Documentation" class="o_doc_link" target="_blank"/>
                                    <div class="text-muted">
                                        Specify Webhook URL Addresses to notify when a successful payment transaction occurs
                                    </div>
                                    <field name="notif_webhook_ids" nolabel="1" colspan="2" class="w-100" context="{'default_company_id': company_id}">
                                        <tree editable="bottom" limit="5">
                                            <field name="url"/>
                                            <field name="company_id" invisible="1"/>
                                        </tree>
                                    </field>
                                    <div class="content-group">
                                        <div class="mt8 text-muted">
                                            <p style="text-indent: 20px">
                                                If you want to keep informed about successful payment transactions without signin in, you can use this service in your information systems. When you enter an URL addresses in the list above, we send a detailed information of successful payment transaction for each.
                                            </p>
                                            <p style="text-indent: 20px">
                                                Data is sent by HTTP POST method in JSON format. If you set listeners for specified addresses, you can get the data immediately and use it for whatever you want.
                                            </p>
                                            <p style="text-indent: 20px">
                                                To view structure of the data to be sent, please use the following link to get the necessary information.
                                            </p>
                                        </div>
                                        <div class="mt8">
                                            <a role="button" class="btn btn-link" href="/api#tag/Webhook-Methods" target="_blank">
                                                <i class="fa fa-arrow-right mr-2"/>Webhook API Documentation
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_left_pane">
                                    <field name="notif_mail_success_ok"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="notif_mail_success_ok"/>
                                    <div class="text-muted">
                                        Send email to transaction owner and its followers right after completing a transaction with success
                                    </div>
                                </div>
                                <br/>
                                <div class="o_setting_left_pane">
                                    <field name="notif_sms_success_ok"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="notif_sms_success_ok"/>
                                    <div class="text-muted">
                                        Send SMS to transaction owner and its followers right after completing a transaction with success
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </field>
    </record>
 
    <record id="res_config_settings_view_form" model="ir.ui.view">
    <field name="model">res.config.settings</field>
    <field name="inherit_id" ref="base.res_config_settings_view_form"/>
    <field name="arch" type="xml">
        <xpath expr="//div[hasclass('settings')]" position="inside">
            <div class="app_settings_block" data-string="Payment" string="Payment" data-key="payment" groups="base.group_system">
                <h2>Payment System</h2>
                <div class="row mt16 o_settings_container">
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane">
                            <field name="payment_default_email_setting"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="payment_default_email_setting" string="Default Email Settings"/>
                            <div class="text-muted">
                                Use default email server and email template
                            </div>
                            <div class="content-group" attrs="{'invisible': [('payment_default_email_setting', '=', False)]}">
                                <div class="mt16">
                                    <label for="payment_default_email_server" string="Server" class="col-3 col-lg-3 o_light_label"/>
                                    <field name="payment_default_email_server" class="oe_inline" options="{'no_create': True}"/>
                                    <br/>
                                    <label for="payment_default_email_template" string="Template" class="col-3 col-lg-3 o_light_label"/>
                                    <field name="payment_default_email_template" class="oe_inline" options="{'no_create': True}"/>
                                </div>
                            </div>
                        </div>
                        <div class="mt16"/>
                        <div class="o_setting_left_pane">
                            <field name="payment_default_sms_setting"/>
                        </div>
                        <div class="o_setting_right_pane">
                            <label for="payment_default_sms_setting" string="Default SMS Settings"/>
                            <div class="text-muted">
                                Use default SMS provider and SMS template
                            </div>
                            <div class="content-group" attrs="{'invisible': [('payment_default_sms_setting', '=', False)]}">
                                <div class="mt16">
                                    <label for="payment_default_sms_provider" string="Provider" class="col-3 col-lg-3 o_light_label"/>
                                    <field name="payment_default_sms_provider" class="oe_inline" options="{'no_create': True}"/>
                                    <br/>
                                    <label for="payment_default_sms_template" string="Template" class="col-3 col-lg-3 o_light_label"/>
                                    <field name="payment_default_sms_template" class="oe_inline" options="{'no_create': True}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 o_setting_box">
                        <div class="o_setting_left_pane"/>
                        <div class="o_setting_right_pane">
                            <label for="payment_page_ids" string="Payment Pages"/>
                            <div class="text-muted">
                                Define payment page names and paths
                            </div>
                            <div class="content-group">
                                <div class="mt16">
                                    <field name="payment_page_ids" class="w-100" nolabel="1">
                                        <tree editable="bottom">
                                            <field name="name" decoration-bf="1"/>
                                            <field name="path"/>
                                        </tree>
                                        <form>
                                            <group>
                                                <group>
                                                    <field name="name"/>
                                                    <field name="path"/>
                                                </group>
                                            </group>
                                        </form>
                                    </field>
                                </div>
                                <button name="%(action_payment_page)d" icon="fa-arrow-right" type="action" string="Edit Pages" class="btn-link"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </xpath>
        </field>
     </record>
</odoo>
