.pos {
    .info-list-picking {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-weight: bold;
        margin-top: 5px;
    }
    
    .quantity-available {
        position: absolute;
        top: 20px;
        right: 2px;
        vertical-align: top;
        color: #ffffff;
        line-height: 13px;
        background-color: #6ec89b;
        padding: 2px 5px;
        border-radius: 2px;
        width: 17px;
        top: 22px;
    
        &.absent {
            background-color: #ff4c4c;
        }
    }

    .popup-stock {
        font-size: 16px !important;
        width: 80vw !important;
        max-width: 100vw !important;
        max-width: 800px !important;

        > div {
            max-height: 600px !important;
            overflow: auto !important;
            > table {
                table-layout: fixed;
                min-width: 1200px;

                > thead {
                    position: sticky;
                    top: 0;

                    th {
                        background: lightgrey;
                        padding: 8px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                > tbody {
                    > tr {
                        > td {
                            padding: 10px;
                            color: #555555;
                            font-weight: normal;
                            text-align: center;
                        }

                        &:last-child {
                            background: lightgrey;
                            padding: 10px;
                            position: sticky;
                            bottom: -1px;
                        }
                    }
                }

                input[type=number] {
                    text-align: right;
                    border: 2px solid #cccccc;
                }
                
                input[type=date] {
                    border: 2px solid #cccccc;
                }
            }
        }

        .altlight {
            background-color: #5cb98a !important;
            border-color: #5cb98a !important;
        }

        .title {
            margin-bottom: 0px !important;
            overflow-y: scroll;
        }

        .add-quantity {
            border: 2px solid #ff4c4c !important;
            box-shadow: 0px 0px 0px 1px #ff4c4c !important;
        }
    
        .options {
            display: flex;
            border: 2px solid #cccccc;
            background-color: #ffffff;
            border-radius: 5px;
        }
        
        .options .selection {
            padding: 10px;
            color: #555555;
            align-self: center;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .options .buttons {
            display: flex;
        }
        
        .options .buttons button{
            padding: 10px;
            transition: 0.2s ease all;
            min-width: 0;
            color: #555555;
            background-color: #eeeeee;
            border-radius: 0;
            width: 50px;
        }
        
        .options.disabled .buttons button{
            pointer-events: none;
            opacity: 0.8;
        }
        
        .options .buttons button.active{
            background-color: #5cb98a;
            color: #ffffff;
        }
    }

    .client-details {
        font-family: "Lato", serif !important;
        font-size: 15px !important;
        color: #444444 !important;
    }
    
    input.transfer-date {
        font-family: "Lato", serif !important;
        font-size: 15px !important;
        color: #444444 !important;
    }
}

@media screen and (max-width: 567px) {
    .pos .popup-stock {
        width: 100% !important;
        max-width: 95% !important;
    }
}